<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/paginaInicialCSS.css">

  <title>FutBET</title>
</head>
<body>

  <div>
    <img src="../static/img/imagem-fundo.png" alt="Descrição da imagem">

    <div class="subtitulo">
        <p>BEM VINDO AO <br>FUTBET <img src="../static/img/jogador-de-futebol.png" alt="Logo" class="container-logo"></p>
    </div>
    <div class="descricao">
        <h1>  ● SOMOS UMA REDE SOCIAL QUE LHE PERMITE COMPARTILHA SUA OPINIÃO DE APOSTA ESPORTIVA <br><br><br> JÁ POSSUI UMA CONTA?</h1>
        
        <a href="/registro.html"><button type="button">CADASTRAR</button></a>
        
        <a href="/login.html"><button type="button">ENTRAR</button></a>
        
    </div>

  </div>

</body>
</html>
